@model BExIS.Modules.Vim.UI.Models.DQModels
@using Telerik.Web.Mvc.UI;
@using BExIS.Modules.Vim.UI;


@{
    ViewBag.Title = "Data Quality";
}

@section Information
{
}

@{
    string description = Model.description;
    string type = Model.type;
    var performers = Model.performers;
    string dStrDescription = Model.dStrDescription;
    int dStrUsage = Model.dStrUsage;
    var varVariables = Model.varVariables;
}

<style>
    div {
        text-align: initial;
    }

    h.red {
        color: red;
    }

    h.green {
        color: green;
    }
</style>

@* **************************************** *@
@* ********** General Information ********* *@
@* **************************************** *@
<table class="left" width="50%">
    <tr>
        <td>Dataset description</td>
        <td>
            @if (@description.Length > 0)
            {<h class="green">&#10004; @description.Length</h>}
        else
        { <h class="red">&#10008; @description.Length</h>}
        </td>
    </tr>
    <tr>
        <td>Data structure description</td>
        <td>
            @if (@description.Length > 0)
            {<h class="green">&#10004; @dStrDescription.Length</h>}
        else
        {<h class="red">&#10008; @dStrDescription.Length</h>}
        </td>
    </tr>
    <tr>
        <td>Shared data structure</td>
        <td>
            @if (@dStrUsage > 1)
            {<h class="green">&#10004; @dStrUsage</h>}
        else
        {<h class="red">&#10008; </h>}
        </td>
    </tr>
</table>

@* **************************************** *@
@* ******** Performers Information ******** *@
@* **************************************** *@
<p><div>Performers: @performers.Count</div></p>
<table class="left">
    <tr>
        <td>Name</td>
        <td>Popularity</td>
    </tr>
    @for (int i = 0; i < performers.Count; ++i)
    {
        <tr>
            <td>@performers[i].performerName </td>
            <td></td>
        </tr>
    }
</table>

@* **************************************** *@
@* ********* Variable Information ********* *@
@* **************************************** *@
@if (@type == "file")
{
    <p>THIS IS A FILE FORMAT DATASET!</p>
}
@if (@type == "tabular")
{
    <p>THIS IS A TABULAR FORMAT DATASET!</p>
    <table class="left">
        <tr>
            <td>Variable name</td>
            <td>Shared variable</td>
        </tr>
        @for (int i = 0; i < varVariables.Count; ++i)
        {
            <tr>
                <td>@varVariables[i].varLabel </td>
                <td>
                    @if (@varVariables[i].varUsage > 0)
                    {<h class="green">&#10004; @varVariables[i].varUsage</h>}
                else
                {<h class="red">&#10008; </h>}
                </td>
            </tr>
        }
    </table>
}

<link rel="stylesheet" href="https://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.9.1.js"></script>

<script type="text/javascript">

    $(document).ready(function () {

        function messageNoData(text) {
            document.getElementById('Warning').textContent = 'There is no Data to show ' + text;
        }


    });


    //Function proportion(portion, total)
    //return the ratio of portion to total.
    function proportion(p, total) {
        try {
            var ratio = (p * 100) / total;
        }
        catch { var ratio = 99999; }

        //return (ratio.toFixed(0));
        return (ratio.toFixed(2));
    }

</script>