@model BExIS.Modules.Vim.UI.Models.DQModels
@using Telerik.Web.Mvc.UI;
@using BExIS.Modules.Vim.UI;


@{
    ViewBag.Title = "Data Quality";
}

@section Information
{
}

@{
    string description = Model.description;
    string type = Model.type;
    var performers = Model.performers;
    string performerDatasets = "";
    string performerName = "";
    string dStrDescription = Model.dStrDescription;
    int dStrUsage = Model.dStrUsage;
    var varVariables = Model.varVariables;
    var datasetSize = Model.datasetSize;
}


<style>
    div {
        text-align: initial;
    }

    h.red {
        color: red;
    }

    h.green {
        color: green;
    }

    h.clickable {
        color: green;
        cursor: pointer;
    }
</style>

<p id="text">text here!</p>

<table>
    <tr>
        <td width="50%">
            @* **************************************** *@
            @* ********** General Information ********* *@
            @* **************************************** *@
            <table class="left" width="50%">
                <tr>
                    <td width="20%">Dataset description</td>
                    <td width="20%">
                        @if (@description.Length > 0)
                        {<h class="green">&#10004; @description.Length</h>}
                    else
                    { <h class="red">&#10008; @description.Length</h>}
                    </td>
                </tr>
                <tr>
                    <td width="20%">Data structure description</td>
                    <td width="50%">
                        @if (@description.Length > 0)
                        {<h class="green">&#10004; @dStrDescription.Length</h>}
                    else
                    {<h class="red">&#10008; @dStrDescription.Length</h>}
                    </td>
                </tr>
                <tr>
                    <td width="50%">Shared data structure</td>
                    <td width="50%">
                        @if (@dStrUsage > 1)
                        {<h class="green">&#10004; @dStrUsage</h>}
                    else
                    {<h class="red">&#10008; </h>}
                    </td>
                </tr>
            </table>
        </td>

        @* **************************************** *@
        @* ********** Metadata Completion ********* *@
        @* **************************************** *@
        <td width="50%"></td>
    </tr>
    <tr>
        <td width="50%">
            @* **************************************** *@
            @* ******** Performers Information ******** *@
            @* **************************************** *@
            <p><div>Performers: @performers.Count</div></p>
            <table class="left">
                <tr>
                    <td width="50%"> Name </td>
                    <td width="50%"> Popularity </td>
                </tr>
                @for (int i = 0; i < performers.Count; ++i)
                {
                    <tr>
                        <td width="50%">@performers[i].performerName </td>
                        <td width="50%">
                            @if (@performers[i].DatasetIds.Count > 1)
                            {
                                performerDatasets = String.Join(",", Model.performers[i].DatasetIds);
                                performerName = @performers[i].performerName;
                                <h class="clickable" onclick="OpenFilterSearchPerformer('@performerDatasets', '@performerName')">&#10004; @performers[i].DatasetIds.Count</h>

                            }
                            else
                            {<h class="red">&#10008; @performers[i].DatasetIds.Count</h>}
                        </td>
                    </tr>
                }
            </table>
        </td>
        <td width="50%"></td>
    </tr>
    <tr>
        <td width="50%">
            @* **************************************** *@
            @* ********* Variable Information ********* *@
            @* **************************************** *@
            @if (@type == "file")
            {
                <p>THIS IS A FILE FORMAT DATASET!</p>
            }
            @if (@type == "tabular")
            {
                <p>THIS IS A TABULAR FORMAT DATASET!</p>
                <p>Dataset size: @datasetSize["NumberOfRows"] x @datasetSize["NumberOfColumns"]</p>
                <table class="left">
                    <tr>
                        <td width="50%">Variable name</td>
                        <td width="50%">Description</td>
                        <td width="50%">Shared variable</td>
                        <td width="50%">System type</td>
                        <td width="50%"></td>
                    </tr>
                    @for (int i = 0; i < varVariables.Count; ++i)
                    {
                        <tr>
                            <td width="50%">@varVariables[i].varLabel </td>
                            <td width="50%">
                                @if (@varVariables[i].varDescription.Length > 0)
                                {<h class="green">&#10004; @varVariables[i].varDescription.Length</h>}
                            else
                            {<h class="red">&#10008; </h>}
                            </td>
                            <td width="50%">
                                @if (@varVariables[i].varUsage > 0)
                                {<h class="green">&#10004; @varVariables[i].varUsage</h>}
                            else
                            {<h class="red">&#10008; </h>}
                            </td>
                            <td width="50%"> @varVariables[i].varType</td>
                            <td width="50%">@varVariables[i].min</td>
                        </tr>
                    }
                </table>
            }
        </td>
        <td width="50%"></td>
    </tr>
</table>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.9.1.js"></script>

<script type="text/javascript">

    $(document).ready(function () {

        function messageNoData(text) {
            document.getElementById('Warning').textContent = 'There is no Data to show ' + text;
        }

    });

    function OpenFilterSearchPerformer(performerDatasets, performerName) {
        //Add a Dashboard like view to see the list of datasets.
        document.getElementById('text').textContent = performerDatasets;
        var pd = performerDatasets.split(",");
        var url = '@Url.Action("ShowDatasetPerformer", "DQ", new { datasetIds = "datasetIds", performerName = "performerName"})';
        url = url.replace('datasetIds', performerDatasets);
        url = url.replace('performerName', performerName);
        window.open(url, '_blank');
        //document.getElementById('text').textContent = pd[1];

        //window.open("https://www.w3schools.com");
    }

        //Function proportion(portion, total)
        //return the ratio of portion to total.
    function proportion(p, total) {
        try {
            var ratio = (p * 100) / total;
        }
        catch { var ratio = 99999; }

        //return (ratio.toFixed(0));
        return (ratio.toFixed(2));
    }

</script>