@model BExIS.Modules.Vim.UI.Models.DQModels
@using Telerik.Web.Mvc.UI;

This is the view!

@{
    ViewBag.Title = "Data Quality";
}

@section Information
{
}

@{
    string description = Model.description;
    string type = Model.type;
    var performers = Model.performers;
    string dStrDescription = Model.dStrDescription;
    int dStrUsage = Model.dStrUsage;
}

<p></p>
<p>description: @description</p>
<p>type: @type</p>
<p>data structure description: @dStrDescription</p>
<p>data structure usage: @dStrUsage</p>
<p>number of performers: @performers.Count;</p>
<p>performers:
@for (int i = 0; i < performers.Count; ++i)
{
    <h3> @performers[i] - </h3>
}


@if (@type == "file")
{
    <p>THIS IS A FILE FORMAT DATASET!</p>
}

@if (@type == "tabular")
{
    <p>THIS IS A TABULAR FORMAT DATASET!</p>
}


<link rel="stylesheet" href="https://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.9.1.js"></script>

<script type="text/javascript">

    $(document).ready(function () {

        function messageNoData(text) {
            document.getElementById('Warning').textContent = 'There is no Data to show ' + text;
        }


    });


    //Function proportion(portion, total)
    //return the ratio of portion to total.
    function proportion(p, total) {
        try {
            var ratio = (p * 100) / total;
        }
        catch { var ratio = 99999; }

        //return (ratio.toFixed(0));
        return (ratio.toFixed(2));
    }

</script>